input.ng-touched.ng-invalid{
  border-color: red;
}

.add-todo-form {
  display: flex;
  flex-direction: column;
}

.buttons {
  display: flex;
}

.buttons button {
  flex-grow: 1;
}

.buttons button:first-child {
  margin-right: 10px;
}